
*.xcbkptlist

*.xcuserstate

*.xcscheme

*.plist

*.xcsettings

remember.xcodeproj/project.xcworkspace/xcshareddata/remember.xccheckout

remember/OpenResource/AGImagePickerController/.svn/all-wcprops

remember/OpenResource/AGImagePickerController/.svn/entries

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGImagePickerController+Helper.h.svn-base

*.svn-base

*.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGImagePickerController+Helper.m.svn-base

*.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGImagePickerController.m.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGImagePickerControllerDefines.h.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGIPCAlbumsController.h.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGIPCAlbumsController.m.svn-base

remember/OpenResource/AGImagePickerController/.svn/prop-base/AGImagePickerController.h.svn-base

*.svn-base

remember/OpenResource/AGImagePickerController/AGImagePickerController.bundle/.svn/entries

remember.xcodeproj/xcuserdata/RentonTheUncoped.xcuserdatad/xcschemes/xcschememanagement.plist
